
body{
	width: 100%;
	height: 100%;
	margin: 5px;
	font-family: "Helvetica Neue", Arial, Helveticam sans-serif;
}

#top {
	height: 10%
    color: blue;
    margin-left: 15%;
}

#map {
	height: 800px;
	width: 1045px;
	margin-left: 30%;
}
	
