
body{
	width: 100%;
	height: 100%;
	margin: 5px;
	font-family: "Helvetica Neue", Arial, Helveticam sans-serif;
}

h2 {
    color: black;
    margin-left: 5%;
}

#map {
	height: 86%;
	width: 100%;
	margin-left: 0%;
	margin-right: 0%;
}
	
#boxAll {
	background: white;
	width: 1045px;
	margin: 0 auto; /*to center the box*/
	border-radius: 3px; /*to round the edges*/
}

#left {
	float: left;
	width: 715px;
	padding-left: 1px;
}

#right {
	margin-left: 730px;
	width: 300px;
}

#top {
	height: 5px;
}

#bottom {
	clear: left;
	height: 15px;
}



/************************/
/* elements on the left */
/************************/

#header {
	height: 1em;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

#mapFrame {
	height: 700px;
	width: 1400px;
}

#map {
	height: 100%;
	width: 90%;
	border-radius: 3px;
}

